@import "colors";
.white-background {
  background-color: var(--white);
}
.blue-background {
  background-color: var(--blue) !important;
}
.green-background {
  background-color: var(--green) !important;
}
.red-background {
  background-color: var(--red) !important;
}
.purble-background {
  background-color: var(--purple) !important;
}
.orange-background {
  background-color: var(--orange) !important;
}
.lavendar-background {
  background-color: var(--lavender) !important;
}
.cyan-background {
  background-color: var(--cyan) !important;
}
.pistachio-background {
  background-color: var(--pistachio) !important;
}
.yellow-background {
  background-color: var(--yellow) !important;
}
.red-light-background {
  background: var(--red-light) !important;
}
.purble-light-background {
  background: var(--purple-light) !important;
}
.green-light-background {
  background: var(--green-light) !important;
}
.gray-darker-background {
  background: var(--lighterGray) !important;
}
.field-background {
  background: var(--filed-background);
}
.pink-background {
  background: var(--pink);
}
.transparent-green-background {
  background: var(--transparent-green) !important;
}
.transparent-blue-background {
  background: var(--transparent-blue) !important;
}
.transparent-purble-background {
  background: var(--transparent-purble) !important;
}
.transparent-red-background {
  background: var(--transparent-red) !important;
}
.black-background {
  background: var(--black) !important;
}
element.style {
  opacity: 1;
}

.toast-success {
  background-color: var(--green) !important;
}
.toast-error {
  background-color: var(--red) !important;
}
