:root {
  --primary: #f43f5e;
  --black: #1b1d21;
  --white: #ffffff;
  --purple: #6c5dd3;
  --purple-light: #cfc8ff;
  --text: #11142d;
  --gray-dark: #808191;
  --gray-light: #b2b3bd;
  --red: #ff754c;
  --pink: #ffa2c0;
  --pink-light: #ffebf6;
  --yellow: #ffce73;
  --yellow-light: #ffe2ac;
  --blue: #3f8cff;
  --blue-light: #a0d7e7;
  --blue-dark: #0049c6;
  --border: #e4e4e4;
  --green: #7fba7a;
  --link: #5f75ee;
  --lavender: #cabdff;
  --cyan: #b1e5fc;
  --pistachio: #b5e4ca;
  --orange: #ffbc99;
  --dark: #242731;
  --dark1: #1f2128;
  --border-dark: rgba(var(--border), 0.1);
  --border-light: #f0f3f6;
  --shadow: #e3e6ec;
  --shadow-dark: #000;
  --field-background: rgba(228, 228, 228, 0.3);
  --background: #e3e6ec;
}

/* //light mode
$white: #ffffff; // 00
$lightestGray: #fcfcfc; //01
$lighterGray: #f4f4f4; //02
$lightGray: #efefef; //03

//dark mode

$darkGray: #6f767e; //04
$darkerGray: #33383f; //05
$darkBlack: #272b30; //06
$darkerBlack: #1a1d1f; //07
$darkest: #111315; // 08

//

$blue: #2a85ff;
$green: #83bf6e;
$red: #ff6a55;
$purple: #8e59ff;
$orange: #ffbc99;
$lavender: #cabdff;
$cyan: #b1e5fc;
$pistachio: #b5e4ca;
$yellow: #ffd88d;
$purble-light: #cabdff;
$red-light: #ffe7e4;
$green-light: #b5e4ca;
////////////////////
$transparent-green: #edf8f2;
$transparent-red: #ffe7e4;
$transparent-purble: #f2efff;
$transparent-blue: #ecf9fe;
///////////////////
 */
